main {
    background-image: url('./images/background.jpg');
    object-fit: cover;
    background-size: 100%;
}

header h1 {
    font-size: 50px;
    font-weight: 600;
    background-image: url('./images/background.jpg');
    background-size: 250px;
    background-repeat: repeat;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    text-align: center;
  }
.itemCard {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-evenly;
    padding-bottom: 10px;;
}

button {
    font-size: medium;
    align-content: center;
    border-radius: 15%;
    margin-left: 15px;
}
