main {
    background-image: url('../public/images/background.jpg');
    object-fit: cover;
    background-size: 100%;
}

.banner-header {
    background-color: beige;
    text-align: center;
    height:4em;
    padding:4px;
    height: auto;
}
header h1 {
    font-size: 70px;
    font-weight: 600;
    background-image: url('../public/images/background.jpg');
    background-size: 250px;
    background-repeat: repeat;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    text-align: center;
  }
.itemCard {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-evenly;
    padding-bottom: 10px;;
}


.picContainer {
    border: 1px whitesmoke solid;
    border-radius: 10%;
    margin-top:10px;
    height: 225px;
    background-color: rgb(236, 243, 247);
}


.displayItem {
    display:block;
    width:150px;
    height:150px;
}
.red {
    background-color: rgb(255, 9, 9);
    color: white;
}
.blue {
    background-color: rgb(163, 218, 245);
    text-decoration: line-through;
}

.formSubmit {
    display:flex;
    flex-direction: column;
    background-color: rgb(229, 229, 229);
}
input {
    margin-left: 10px;
    margin-bottom: 10px;
    max-width: 300px;
}
.formSubmit button  {
    width:45px;
    margin-left: 15px;
    margin-bottom: 15px;;
    background-color: aquamarine;
    
}
button {
    align-content: center;
    border-radius: 15%;
}


img {
  display: block;
  max-width:150px;
  max-height:150px;
  object-fit: contain;
  justify-content: center;
}