header h1 {
    font-size: 50px;
    font-weight: 600;
    background-image: url('../public/images/background.jpg');
    background-size: 250px;
    background-repeat: repeat;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    text-align: center;
  }